* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    background: #a6a2a221;
}

.nav-bar.scrolled {
    background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black */
    color: white;
    width: 100%;
}

.nav-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: transparent; /* Initial transparent background */
    transition: background-color 0.5s; /* smooth transition effect */
}

.nav-logo {
    max-width: 60px; /* Adjust width as necessary */
    margin-right: 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-list li {
    margin-right: 15px; /* Space between the links */
}

.nav-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #ff9900; /* Color change on hover */

}

.background {
    background: rgba(2, 2, 2, 0.774) url("../img/chrisart.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    color: white;
    width: 70%;
    margin: auto;
    padding: 25vh 0;
}

.firstHalf {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-bg {
    font-size: 25px;
    margin: 8px;
    text-align: center;
    font-weight: 700;
}

.text-sm {
    font-size: 15px;
    margin: 8px;
    text-align: center;
    color: red;
}

.secondHalf {
    width: 30%;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons .btn {
    font-size: 18px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 10px;
    background: none;
    color: white;
    margin: 5px;
    cursor: pointer;
}

.secondHalf img {
    width: 70%;
    border: 2px solid rgb(88, 75, 75);
    border-radius: 50px;
}

.section-down {
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 50px;
    width: 80%;
    margin: auto;
}

.reverse-order {
    flex-direction: row-reverse;
}

.thumbnail {
    padding: 8px;
    display: flex;
    align-items: center;
}

.imgFluid {
    height: 200px;
    width: 200px;
    border: 0;
    box-shadow: 0 0 12px grey;
    border-radius: 150px;
}

.hr-end {
    display: flex;
    justify-content: flex-end;
}

hr {
    width: 50%;
}

.burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 15px;
    cursor: pointer;
}

.line {
    width: 33px;
    background-color: white;
    height: 3px;
    margin: 3px 3px;
    border: 1px solid white;
    border-radius: 3px;
}

.contact-block {
    display: flex;
    width: 90%;
    margin: auto;
}

.contact-address {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;
    margin: 50px 10px;
}

.contact-address h2 {
    margin-bottom: 18px;
}

.contact-address p {
    margin-bottom: 15px;
}

.contact-emails {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    width: 75%;
    margin: 35px 10px;
}

.contact-emails .emails {
    margin: 15px;
}

.contact-emails .emails h4, p {
    margin-bottom: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 5px;

}


